{{- /* giscus 评论系统 - 覆盖主题空钩子 */ -}}
<div class="giscus">
  <script src="https://giscus.app/client.js"
    data-repo="Liuxiangyang/blog"
    data-repo-id="R_kgDOUI44yA"
    data-category="Announcements"
    data-category-id="DIC_kwDOUI44yM4DEhWT"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async>
  </script>
</div>
